<div *ngIf="loggedInUser" class="test container-lg pb-3 px-5 mt-3">
  <div class="row">
    <div class="col-lg-6">
      <!--  <app-left-footer></app-left-footer> -->
    </div>
    <div class="col-lg-6">
      <!--   <app-right-footer></app-right-footer> -->
    </div>
  </div>
</div>
<div>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div
      id="liveToast"
      class="toast hide"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary"
  id="liveToastBtn"
  (click)="show()"
  style="visibility: hidden"
>
  Show live toast
</button>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    #myToast
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    class="toast fade"
    data-bs-autohide="true"
  >
    <div class="toast-header" style="z-index: 11">
      <img src="..." class="rounded me-2" alt="..." />
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-
        label="Close"
      ></button>
    </div>
    <div class="toast-body">Hello, world! This is a toast message.</div>
  </div>
</div>
