.roundedcorner {
  padding: 5px;
}

.loggedInAs {
  font-size: 10px;
}

.card:focus {
  outline: none;
}

.loggedInAs {
  background-color: #ffc107;
  color: black;
  font-weight: lighter;
  padding: 1px 5px;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #6c757d;
  white-space: nowrap;
}
