@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 2px solid rgb(44, 179, 44);
}

span.input-group-text {
  width: 130px;
}

.editProfileButtons {
  padding: 5px;
}

.roundedcorner {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 1px 10px rgb(0, 0, 0);
}

@media screen and (min-width: 975px) and (max-width: 1185px) {
  .mt-2 {
    margin-left: 20px;
  }
}
