<div class="container-lg">
  <div class="row justify-content-center fw-bold">
    <div class="col-md-8 small roundedcorner p-2 mt-3">
      <div class="text-center my-2">
        <h2>Hello!&nbsp;😊</h2>
        <p class="lead">Please create your profile.</p>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <label for="name" class="form-label"></label>
        <div class="input-group mb-2">
          <span class="input-group-text">
            <i class="bi bi-person-fill"></i> &nbsp; Name:
          </span>
          <input
            type="text"
            id="name"
            class="form-control input-lg"
            placeholder="e.g. Martin Tee"
            formControlName="name"
          />
          <span
            *ngIf="
              signupForm.get('name').valid && signupForm.get('name').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('name').valid && signupForm.get('name').touched
            "
            class="col-sm-12 fw-light text-center"
            >Please enter a valid name!</span
          >
        </div>

        <label for="userName" class="form-label"></label>
        <div class="input-group mb-2">
          <span class="input-group-text">
            <i class="bi bi-person-badge"></i> &nbsp; Username:
          </span>
          <input
            type="text"
            id="userName"
            class="form-control"
            placeholder="e.g. teemartin25"
            formControlName="userName"
          />
          <span
            *ngIf="
              signupForm.get('userName').valid &&
              signupForm.get('userName').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('userName').valid &&
              signupForm.get('userName').touched &&
              !signupForm.get('userName').getError('nameIsForbidden')
            "
            class="col-sm-12 text-danger text-center"
            >Please enter a valid username</span
          >
          <span
            *ngIf="signupForm.get('userName').getError('nameIsForbidden')"
            class="col-sm-12 text-danger text-center"
            >Username is already taken</span
          >
        </div>

        <label for="emailAddress" class="form-label"></label>
        <div class="input-group mb-2">
          <span class="input-group-text">
            <i class="bi bi-envelope-fill"></i> &nbsp; Email:
          </span>
          <input
            type="email"
            id="emailAddress"
            class="form-control"
            placeholder="e.g. tee.martinjames@gmail.com"
            formControlName="emailAddress"
            readonly
          />
          <span
            *ngIf="
              signupForm.get('emailAddress').valid &&
              signupForm.get('emailAddress').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('emailAddress').valid &&
              signupForm.get('emailAddress').touched
            "
            class="col-sm-12 fw-light text-center"
            >Please enter a valid email</span
          >
        </div>

        <label for="hobbies" class="form-label"></label>
        <div class="input-group mb-2">
          <span class="input-group-text">
            <i class="bi bi-emoji-smile"></i> &nbsp; Hobbies:
          </span>
          <input
            type="text"
            id="hobbies"
            class="form-control"
            placeholder="e.g. Playing basketball"
            formControlName="hobbies"
          />
          <span
            *ngIf="
              signupForm.get('hobbies').valid &&
              signupForm.get('hobbies').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('hobbies').valid &&
              signupForm.get('hobbies').touched
            "
            class="col-sm-12 fw-light text-center"
            >Please enter a valid hobby</span
          >
        </div>

        <label for="phoneNumber" class="form-label"></label>
        <div class="input-group mb-2">
          <span class="input-group-text">
            <i class="bi bi-telephone-fill"></i> &nbsp; Phone No.:
          </span>
          <input
            type="number"
            id="phoneNumber"
            class="form-control"
            placeholder="e.g. +63 906 452 4483"
            formControlName="phoneNumber"
          />
          <span
            *ngIf="
              signupForm.get('phoneNumber').valid &&
              signupForm.get('phoneNumber').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('phoneNumber').valid &&
              signupForm.get('phoneNumber').touched
            "
            class="col-sm-12 fw-light text-center"
            >Please enter a valid phone number</span
          >
        </div>
        <label for="imagePath" class="form-label"></label>
        <div class="input-group mb-2">
          <span class="input-group-text">
            <i class="bi bi-camera"></i> &nbsp; Image path:
          </span>
          <input
            type="text"
            id="imagePath"
            class="form-control"
            placeholder="Just paste your URL photo"
            formControlName="imagePath"
          />
          <span
            *ngIf="
              signupForm.get('imagePath').valid &&
              signupForm.get('imagePath').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('imagePath').valid &&
              signupForm.get('imagePath').touched
            "
            class="col-sm-12 fw-light text-center"
            >Please enter a valid image path</span
          >
        </div>
        <label for="gender" class="form-label"></label>
        <div class="mb-4 input-group">
          <span class="input-group-text">
            <i
              *ngIf="signupForm.get('gender').value === 'male'"
              class="bi bi-gender-male text-secondary"
            ></i>
            <i
              *ngIf="signupForm.get('gender').value === 'female'"
              class="bi bi-gender-female text-secondary"
            ></i>
            &nbsp; Gender:
          </span>
          <select class="form-select" id="gender" formControlName="gender">
            <option value="male" selected>Male</option>
            <option value="female">Female</option>
          </select>
          <span
            *ngIf="
              signupForm.get('gender').valid && signupForm.get('gender').touched
            "
            class="col-sm-12 text-center text-success pt-1"
            >Looks good! <i class="bi bi-check-lg"></i
          ></span>
          <span
            *ngIf="
              !signupForm.get('gender').valid &&
              signupForm.get('gender').touched
            "
            class="col-sm-12 fw-light text-center"
            >Please enter a valid gender!</span
          >
        </div>

        <div class="my-4 text-center">
          <button
            type="submit"
            class="btn btn-secondary"
            [disabled]="!signupForm.valid"
          >
            Submit
          </button>
        </div>
        <div class="my-4 text-center"></div>
      </form>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#reg-modal"
  id="openModalButton"
  style="display: none"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="reg-modal"
  tabindex="-1"
  aria-labelledby="modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="exampleModalLongTitle">Ooops!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        Sorry you're not allowed to have multiple profiles. <br />
        Do you want to delete your existing profile?
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="onModalDelete()"
        >
          Yup, delete it.
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onModalKeepProfile()"
        >
          Keep my old profile
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Different sized modals can be used with the help of .modal-{sm|lg|xl} class -->
<div class="modal fade" tabindex="-1" id="second-modal">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">Your profile is now deleted.</div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#second-modal"
  id="openSecondModalButton"
  style="display: none"
>
  second modal trigger
</button>
